body{
	background-image: url('http://www.marcopolopools.net/images/background-img-0a.jpg');
	background-repeat: repeat-x;
	background-color: #33CCFF;
}

table { 
    border-spacing: 2px;
	border: '1';	
}


h1,h3{
	background-color: white;
	text-align:left;
	font-family: arial;
}

h2.osztaly1{
	background-color: blue;
	
}

h2.osztaly2{
	background-color: #FF0000;
	font-weight: bold;
}

.alma{
	background-color: #33CC33;
	margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
	text-align: left;
	color: red;
	font-family: arial;
	font-weight: bold;
	text-decoration: underline;
}

a:link {
	background-color::#A4B1E3;
	font-style: normal;
}

a:visited {
	background-color:#FFFF85;
	font-style: italic;
}

a:hover {
	background-color:#00FFFF;
	font-style: oblique;
}

a:active {
	background-color:#4CB526;
	font-style: bold;
}

.p{
	border-style: solid;
    border-width: 3px;
	padding-left: 25px;
}

table{
	border-style: solid;
}

td.mukodj{
	border-style: dotted;
}

td.hamondom{
	border-style: double;
}

tr.kek{
	color: blue;
}

tr.piros{
	color: red;
}

@media print {
    body{
	background-color: #33CCFF;
}
}

div.flex{
	display: flex;
}

div.left{
	text-align: left;
	border-width: 3px;
	border-style: solid;
	width: 200px;
}

div.center{
	text-align: center;
	border-width: 3px;
	border-style: solid;
	width: 200px;
}
div.right{
	text-align: right;
	border-width: 3px;
	border-style: solid;
	width: 200px;
}